@import '~office-ui-fabric-react/dist/sass/References.scss';

.bokningar {
  display: 'block';
  margin-bottom: '10px';

  .Detaillist{
    background-color: aqua;
  }
  #span{
    background-color: aqua;
  }
}
